.swiper-button-next,
.swiper-button-prev {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  margin: 150px 75px;
}

.swiper-button-next:after {
  color: white;
  font-weight: bolder;
}
.swiper-button-prev:after {
  color: white;
  font-weight: bolder;
}
